<div class= "card">
  <h3 class="text-center">Homepage!</h3>
<div class= "card-body">
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
</div>
</div>